.user-options {
    width: 30%;

}

.user-options ul {
    list-style: none;

}

.user-options li {
    width: 100%;
    padding: 5px;
    height: 15%;
    margin: 0;
    font-size: 1.5rem;
    text-decoration: none;

}

.user-options li:hover {
    background-color: #aafad9c9;
    cursor: pointer;

}