
.cargar-producto{
    margin-top: 20px;
}
.cargar-producto form{
    display: flex;
    flex-flow: column wrap;
    
}

.cargar-producto form input{
    padding: 5px;
    font-size: 15px;
    
}
.cargar-producto form .btn-agregar{
    margin-top: 10px;
    width: 100%;
    background-color: #1f7551c9;;
    
}
